<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stat/loginpage.css">
</head>
<body>
    <div class="container">
        <h1>Please provide your login info</h1>

        <form action="Login_verify" method="post" class="user-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">


            </div>
             {% for message in messages %}
            {{message}}
            {% endfor %}


            <input type="submit" value="Login">
        </form>

        <div class="registration-prompt">
            <p>Don't have an account?</p>
            <a href="/patient/registration_form">Register account</a>
        </div>
    </div>
</body>
</html>
