<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Complete</title>
    <link rel="stylesheet" href="/stat/Registration_done.css">
</head>
<body>
    <div class="form-container">
        <h1>Registration Successful</h1>
        <p>Your registration form has been successfully submitted. Click below to proceed to the home page.</p>
        <form action="Patient_Home" method="POST">
            <input type="submit" value="Go to Home Page" class="submit-button">
        </form>
    </div>
</body>
</html>
