<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Schedule</title>
    <h1>Appointment Schedule</h1>

    <link rel="stylesheet" href="/stat/viewappointments.css">

</head>
<body>

    <table border="1">

       
        {% for data in appointment %}
        <tr>
            <td>Date and time: {{ data.0 }}</td> 
            <td>Doctor name: {{ data.1 }}</td>    
            <td>
               
                <a href="mailto:{{ data.2 }}">Email: {{ data.2 }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
