@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A192F; /* Navy blue */
    color: #CAD3E2; /* Light gray */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scroll */
}

.form-container {
    max-width: 600px;
    margin: auto;
    background-color: #112240; /* Slightly darker navy blue for container background */
    padding: 20px;
    border-radius: 8px;
}

.submission-form {
    display: flex;
    flex-direction: column;
}

.form-message {
    background-color: #112240; /* Dark navy blue for message background */
    color: #64FFDA; /* Teal for message text */
    padding: 10px;
    margin-bottom: 10px; /* Space between messages */
    border-radius: 4px; /* Rounded corners for messages */
}

.save-button {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px; /* Space above the button */
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    background-color: #64FFDA; /* Teal for the button */
    color: #0A192F; /* Navy blue text */
    cursor: pointer;
}

.login-redirect p, .login-redirect a {
    text-align: center; /* Center align the text and link */
    color: #CAD3E2; /* Light gray for text */
}

.login-redirect a {
    color: #64FFDA; /* Teal color for links */
    text-decoration: none; /* No underline for links */
}

.login-redirect a:hover {
    text-decoration: underline; /* Underline on hover for better feedback */
}
