@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A192F; /* Navy blue */
    color: #CAD3E2; /* Light gray */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scroll */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #112240; /* Slightly darker navy blue for the container */
    border-radius: 8px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #64FFDA; /* Teal color for headings */
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    width: auto; /* Adjust width as needed */
    padding: 10px 20px; /* More padding for a better touch area */
    margin-bottom: 10px; /* Add space between the fields */
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    background-color: #64FFDA; /* Teal for button */
    color: #0A192F; /* Navy blue text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
    background-color: #52e3d4; /* Slightly lighter teal for hover effect */
}
